name: Build
on:
  push:
    branches:
      - main
      - rewrite
  pull_request:
    branches:
      - main
      - rewrite

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: subosito/flutter-action@v2
      - run: dart format --set-exit-if-changed .
      - run: flutter analyze .
      - run: flutter config --enable-windows-desktop
      - run: flutter build windows